@font-face {
    font-family: 'Mallanna';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/mallanna-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/mallanna-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/mallanna-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/mallanna-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/mallanna-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/mallanna-v8-latin-regular.svg#Mallanna') format('svg'); /* Legacy iOS */
}
